Repository samerfarida/secure-bash-macos-ebook: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdown-lint, spell-check, yaml-lint

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# See https://pre-commit.com for more information

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.(md|txt)$'
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--unsafe']  # Allow custom YAML tags
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict

  # Run npm lint scripts
  - repo: local
    hooks:
      - id: markdown-lint
        name: Markdown Linting
        entry: npm run lint:markdown
        language: system
        types: [markdown]
        pass_filenames: false

      - id: spell-check
        name: Spell Check
        entry: npm run spell-check
        language: system
        types: [markdown]
        pass_filenames: false

      - id: yaml-lint
        name: YAML Linting
        entry: npm run lint:yaml
        language: system
        types: [yaml]
        pass_filenames: false

fix: Allow mkdocs.yml indentation warnings in lint workflow
  .github/workflows/lint.yml
Due: yaml-lint

fix: Add Unicode support for box-drawing characters in PDF build
  .github/workflows/release.yml
Due: yaml-lint

fix: Add blank line before list in decision tree
  .github/workflows/release.yml
  ebook/part3_real_world_projects/17_reprovisioning_os_refresh.md
Due: markdown-lint, spell-check, yaml-lint

fix: Add missing LaTeX packages (lmodern.sty and fonts)
  .github/workflows/release.yml
Due: yaml-lint

fix: Remove non-existent fonts-source-code-pro package
  .github/workflows/release.yml
Due: yaml-lint

Align Makefile with release workflow as source of truth
  Makefile
  metadata.yaml
Due: yaml-lint

Standardize ebook structure: fix chapter order and add missing sections
  ebook/appendices/100_A_cheatsheet.md
  ebook/appendices/101_B_common_macOS_command_reference.md
  ebook/appendices/102_C_tools_and_resources.md
  ebook/appendices/103_D_further_reading_and_communities.md
  ebook/part2_advanced_security/06_control_structures_and_functions.md
  ebook/part3_real_world_projects/19_macos_patch_automation_notifications.md
Due: markdown-lint, spell-check

Enhance EPUB CSS: remove TOC numbering, improve styling, fix dark mode
  templates/ebook-style.css
Due: none

Fix workflow: remove duplicate push trigger from release workflow
  .github/workflows/release.yml
Due: yaml-lint

chore: prepare for v1.0.0 release - remove prerelease flag and update default version
  .github/workflows/release.yml
Due: yaml-lint

docs: add CHANGELOG.md and include it in releases
  .github/workflows/release.yml
  CHANGELOG.md
Due: markdown-lint, spell-check, yaml-lint

Update MacAdmin Tools link to new repository
  ebook/appendices/103_D_further_reading_and_communities.md
Due: markdown-lint, spell-check

Update README with additional sections and topics
  README.md
Due: markdown-lint, spell-check

Add Chapter 23: Secure Agentic AI Development on macOS
  ebook/assets/sample_configs/otel-collector-agents.yaml
  ebook/assets/scripts/agent-isolation-policy-check.sh
  ebook/assets/scripts/agent-sandbox-wrapper.sh
  ebook/assets/scripts/claude-pretooluse-validator.sh
  ebook/part3_real_world_projects/23_secure_agentic_ai_development_on_macos.md
Due: markdown-lint, spell-check, yaml-lint

Add Chapter 23 backlinks and update book navigation
  CHANGELOG.md
  README.md
  cspell.json
  ebook/about.md
  ebook/appendices/102_C_tools_and_resources.md
  ebook/appendices/103_D_further_reading_and_communities.md
  ebook/index.md
  ebook/part3_real_world_projects/00_part3_real_world_projects.md
  ebook/part3_real_world_projects/14_automated_hardening_and_compliance_mscp.md
  ebook/part3_real_world_projects/18_endpoint_monitoring_threat_detection.md
  ebook/part3_real_world_projects/21_application_control_with_santa.md
  ebook/part3_real_world_projects/22_privilege_elevation_with_sap_privileges.md
  mkdocs.yml
Due: markdown-lint, spell-check, yaml-lint

Add cspell terms for Chapter 23 agentic AI vocabulary
  cspell.json
Due: none

Expand Chapter 23 with hands-on labs and fix QA findings
  CHANGELOG.md
  ebook/appendices/102_C_tools_and_resources.md
  ebook/assets/sample_configs/agent-lab-scaffold.sh
  ebook/assets/sample_configs/mcp-allowlist.json
  ebook/assets/sample_configs/osquery-agentic-ai-pack.json
  ebook/assets/sample_configs/otel-collector-agents.yaml
  ebook/assets/scripts/agent-isolation-policy-check.sh
  ebook/assets/scripts/claude-pretooluse-validator.sh
  ebook/assets/scripts/cursor-before-read-guard.sh
  ebook/assets/scripts/cursor-before-shell-guard.sh
  ebook/assets/scripts/test-validator.sh
  ebook/part3_real_world_projects/23_secure_agentic_ai_development_on_macos.md
Due: markdown-lint, spell-check, yaml-lint

Replace third-party OTel hooks with official docs and fix CI lint
  README.md
  cspell.json
  ebook/appendices/102_C_tools_and_resources.md
  ebook/appendices/103_D_further_reading_and_communities.md
  ebook/assets/sample_configs/otel-collector-agents.yaml
  ebook/part3_real_world_projects/23_secure_agentic_ai_development_on_macos.md
Due: markdown-lint, spell-check, yaml-lint

Add publication gatekeeper subagents and Chapter 23 polish
  .cursor/agents/chapter-executable-qa-macos.md
  .cursor/agents/chapter-publication-editor.md
  .cursor/rules/ebook-authoring.mdc
  ebook/part3_real_world_projects/23_secure_agentic_ai_development_on_macos.md
  scripts/verify-chapter-assets.sh
Due: markdown-lint, spell-check

Chapter 23: comprehensive publication fixes and Devin removal
  .cursor/agents/chapter-improvement-advisor.md
  .cursor/agents/chapter-publication-editor.md
  .cursor/agents/chapter-reader-reviewer.md
  .markdownlintignore
  CHANGELOG.md
  cspell.json
  ebook/assets/sample_configs/otel-collector-agents.yaml
  ebook/part3_real_world_projects/23_secure_agentic_ai_development_on_macos.md
  package.json
  scripts/patch-chapter-23.py
  scripts/verify-chapter-assets.sh
Due: markdown-lint, spell-check, yaml-lint

Address reader and executable QA blockers for Chapter 23
  .cursor/plans/chapter-23-comprehensive-fixes.md
  CHANGELOG.md
  ebook/assets/sample_configs/agent-lab-scaffold.sh
  ebook/assets/scripts/cursor-before-mcp-guard.sh
  ebook/assets/scripts/test-validator.sh
  ebook/part3_real_world_projects/23_secure_agentic_ai_development_on_macos.md
  scripts/verify-chapter-assets.sh
Due: markdown-lint, spell-check

Polish Chapter 23 from reader and improvement advisor feedback
  ebook/part3_real_world_projects/23_secure_agentic_ai_development_on_macos.md
Due: markdown-lint, spell-check

fix: unblock v1.2.0 release PDF build and versioning
  .github/workflows/release.yml
  CHANGELOG.md
  README.md
  cspell.json
  ebook/part3_real_world_projects/23_secure_agentic_ai_development_on_macos.md
  metadata.yaml
  templates/eisvogel.latex
Due: markdown-lint, spell-check, yaml-lint
